
.home-title {
    text-align: center;
    margin: 50px;
}

.header-section{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 320px;
    background-color: var(--bs-purple);
}
.body-section{
    margin-top: 320px;
}